<md-card class="table-ui-card">
  <div class="card-toolbar">
    <table-toolbar 
      [selected]="selected$ | async"
      [isPopupOpen]="isPopupOpen$ | async"
      (openPopup)="openPopup()"
      (remove)="removeSelectedItem()"
      (filter)="setFilter($event)">
    </table-toolbar>
  </div>
  <div class="card-content">
    <table-content
      [items]="items$ | async"
      [selected]="selected$ | async"
      [columns]="columns$ | async"
      [selectedColumn]="selectedColumn$ | async"
      [filter]="filter$ | async"
      [order]="order$ | async"
      (select)="setSelect($event)"
      (selectColumn)="setSelectedColumn($event)"
      (setOrder)="setOrder($event)">
    </table-content>
  </div>
  <div class="card-footer">
  </div>
</md-card>

<popup></popup>