<table class="item-table">
  <tr class="table-header">
    <th></th>
    <ng-container *ngFor="let meta of collectionMeta; let i = index;">
      <th (click)="setSelectedColumn(i)"
        [class.selected-column]="isColumnSelected(i)">
        {{meta.header}}
      </th>
    </ng-container>
  </tr>
  <ng-container class="table-data" *ngFor="let item of items; let i = index;">
    <tr class="td-hover" (click)="toggleSelectedItem(item)" *ngIf="isItemVisible(item)">
      <td class="td-checkbox">
        <md-checkbox #checkbox 
          [disabled]="true"
          [checked]="isItemSelected(item)" 
          [disableRipple]="true">
        </md-checkbox>
      </td>
      <td *ngFor="let meta of collectionMeta">
        {{format(item[meta.selector[0]], meta.type)}}
      </td>
    </tr>
  </ng-container>
</table>

