<table class="item-table">
  <tr class="table-header">
    <th></th>
    <ng-container *ngFor="let col of meta.columns; let i = index;">
      <th (click)="_setSelectedColumn(i)"
        [class.selected-column]="meta.selectedColumn===i">
        {{col.column}}
      </th>
    </ng-container>
  </tr>
  <ng-container class="table-data" *ngFor="let item of items">
    <tr class="td-hover" (click)="toggleSelected(item)" *ngIf="isVisible(item)">
      <td class="td-checkbox">
        <md-checkbox #checkbox 
          [disabled]="true"
          [checked]="isSelected(item)" 
          [disableRipple]="true">
        </md-checkbox>
      </td>
      <td *ngFor="let col of meta.columns">
        {{format(item[col.selector], col.type)}}
      </td>
    </tr>
  </ng-container>
</table>




  <!--<tr class="table-header">
    <th></th>
    <th *ngFor="let key of columnKeys">{{key}}</th>
  </tr>
  <ng-container class="table-data" *ngFor="let filter of filters; let i = index;">
    <tr class="td-hover" (click)="toggleSelected(filter)" *ngIf="isVisible(filter)">
      <td class="td-checkbox">
        <md-checkbox #checkbox 
          [disabled]="true"
          [checked]="isSelected(filter)" 
          [disableRipple]="true">
        </md-checkbox>
      </td>
      <ng-container *ngFor="let key of dataKeys">
        <td>{{filter[key]}}</td>
      </ng-container>
    </tr>
  </ng-container>-->