<md-card class="data-ui-card">
  <div class="card-toolbar">
    <table-toolbar 
      [addActive]="!(isPopupOpen$ | async)"
      [editActive]="!(isPopupOpen$ | async) && (selectedItem$ | async)"
      [removeActive]="selectedItem$ | async"
      (add)="openAddPopup()"
      (edit)="openEditPopup()"
      (remove)="removeSelectedItem()"
      (search)="setTableFilter($event)">
    </table-toolbar>
  </div>
  <div class="card-content">
    <data-table
      [items]="items$ | async"
      [selectedItem]="selectedItem$ | async"
      [collectionMeta]="collectionMeta$ | async"
      (selectItem)="setSelectedItem($event)">
    </data-table>
  </div>
  <div class="card-footer">
  </div>
</md-card>