.collection-form .header {
  font-size: 1.2em;
  font-weight: 300;
  color: hsl(0, 0%, 45%);
  margin: 0px 0px 10px 0px;
}
.modify-cancel-button {
  position: absolute;
  bottom: 0px; left: 0px;
  width: 50%;
}
.modify-submit-button {
  position: absolute;
  bottom: 0px; right: 0px;
  width: 50%;
}