<div class="collection-form">
  <div class="header">
    Cleaning Record
  </div>
  <form [formGroup]="formGroup" novalidate>

    <div class="form-group">
      <md-input-container class="full-width" type="text">
        <input mdInput placeholder="Equipment ID" formControlName="id"/>
      </md-input-container>
    </div>

    <div class="form-group">
      <md-input-container class="full-width" type="number">
        <input mdInput placeholder="Initial Meter" formControlName="initialMeter"/>
      </md-input-container>
    </div>

    <div class="form-group">
      <md-input-container class="full-width" type="number">
        <input mdInput placeholder="Initial Per Gallon" formControlName="initialMeterPerGallon"/>
      </md-input-container>
    </div>

    <div class="form-group">
      <md-input-container class="full-width" type="text">
        <input mdInput placeholder="Equipment Meter Type" 
          [mdAutocomplete]="autoComplete"
          formControlName="meter">
      </md-input-container>
    </div>
  </form>

  <button class="modify-cancel-button"
    md-button (click)="onCancel()"
    color="warn">
    Cancel
  </button>

  <button class="modify-submit-button" 
    md-button (click)="onSubmit()"
    color="primary"
    [disabled]="formGroup.status==='INVALID' || formGroup.pristine">
    Submit
  </button>
</div>

<md-autocomplete #autoComplete="mdAutocomplete">
  <md-option *ngFor="let meter of meterTypes" [value]="meter">
    {{meter}}
  </md-option>
</md-autocomplete>

<!--<p>Form Value: {{formGroup.value | json }}</p>-->
<!--<p>Form Status: {{formGroup.status | json}}</p>-->