<div  *ngIf="isPopupOpen$ | async"
  class="draggable-wrapper" 
  [style.top.px]="(popupPosition$ | async).top" 
  [style.left.px]="(popupPosition$ | async).left"
  (draggable)="updatePopupPosition($event)">

  <md-card class="content-wrapper remove-pointer-events">
    <div class="content-toolbar">
      <button md-mini-fab class="add-pointer-events" 
        (click)="close()"><md-icon>clear</md-icon>
      </button>
    </div>
    <div class="content">
      <router-outlet name="add"></router-outlet>
    </div>
  </md-card>

</div>