.draggable-wrapper {
  width:auto;
  height:auto;  
  max-width:520px;
  max-height:250px;
}

.content-wrapper {
  background: white;
  overflow:hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0px;
}

.content-toolbar {
  overflow-x: auto;
  display: inline-block;
  white-space: nowrap;
}
.content {
  flex: 1;
  overflow: auto;
  margin: 20px 20px 20px 20px;
  padding: 5px 5px 5px 5px;
}

.drag-handle {
  position: absolute;
  top: 0px; right: 0px;
  color: #EEEEEE;
  vertical-align: middle;
  border-radius: 6px;
}
