<md-card class="data-ui-card">
  <div class="card-toolbar">
    <table-toolbar 
      [selectedItem]="selectedItem$ | async"
      [isPopupOpen]="isPopupOpen$ | async"
      (openPopup)="openPopup()"
      (remove)="removeSelectedItem()"
      (filter)="setFilter($event)">
    </table-toolbar>
  </div>
  <div class="card-content">
    <data-table
      [items]="items$ | async"
      [selectedItem]="selectedItem$ | async"
      [collectionMeta]="collectionMeta$ | async"
      (selectItem)="setSelectedItem($event)">
    </data-table>
  </div>
  <div class="card-footer">
  </div>
</md-card>

<popup></popup>