<div class="collection-form">
  <div class="header">
    Filter
  </div>
  <form [formGroup]="formGroup" novalidate>
    <div class="form-group">
      <md-input-container class="full-width" type="text">
        <input mdInput placeholder="Filter ID" formControlName="id"/>
      </md-input-container>
    </div>
    <div class="form-group">
      <md-input-container class="full-width" type="text">
        <input mdInput placeholder="Filter Type" 
          [mdAutocomplete]="filterAuto"
          formControlName="filterType">
      </md-input-container>
    </div>
  </form>

  <button class="modify-cancel-button"
    md-button (click)="onCancel()"
    color="warn">
    Cancel
  </button>

  <button class="modify-submit-button" 
    md-button (click)="onSubmit()"
    color="primary"
    [disabled]="formGroup.status==='INVALID' || formGroup.pristine">
    Submit
  </button>
</div>

<md-autocomplete #filterAuto="mdAutocomplete">
  <md-option *ngFor="let type of filterTypes$ | async" [value]="type.id">
    {{type.id}}
  </md-option>
</md-autocomplete>

<!--<p>Form Value: {{formGroup.value | json }}</p>-->
<!--<p>Form Status: {{formGroup.status | json}}</p>-->