

<table class="filter-table">
  <tr>
    <th></th><th>ID</th><th>Filter Type</th><th>Date Created</th><th>Last Modified</th>
  </tr>
  <tr *ngFor="let filter of filters; let i = index;" (click)="toggleSelected(filter)">
    <td class="td-checkbox">
      <md-checkbox #checkbox 
        [disabled]="true"
        [checked]="isSelected(filter)" 
        [disableRipple]="true">
      </md-checkbox>
    </td>
    <td>{{filter.id}}</td><td>{{filter.type}}</td><td>{{filter.created | date}}</td><td>{{filter.modified | date}}</td>
  </tr>
</table>