.filter-card {
  height: calc(100% - 9em);
  width: calc(100% - 1em);
  margin: 10px 0px 0px 5px;
  position: fixed;
  overflow: hidden;
  padding: 0px 0px;
  display: flex;
  flex-direction: column;
}
.card-toolbar {
  padding: 10px;
}
.card-content {
  height: 100%;
  width: 100%;
  flex: 1;
  overflow: auto;
  padding: 0px 0px 10px 0px;
}