<md-card class="filter-card">
  <div class="card-toolbar">
    <md-icon class="material-icons md-18" style="vertical-align: middle">search</md-icon>
    <input [(ngModel)]="filter"/>
    <button md-button
      (click)="toggleViewAdd()"
      [disabled]="viewAdd$ | async"
      color="primary">
      ADD
    </button>
    <button md-button
      [disabled]="!(selected$ | async)" 
      color="primary">
      EDIT
    </button>
    <button md-button 
      [disabled]="!(selected$ | async)" 
      (click)="removeSelected()" 
      color="primary">
      REMOVE
    </button>
  </div>
  <div class="card-content">
    <filters-list
      [filters]="filters$ | async" 
      [sortFilter]="filter"
      [selected]="selected$ | async"
      [meta]="tableMetaData$ | async"
      (select)="setSelected($event)"
      (clear)="clearSelected()"
      (setSelectedColumn)="setSelectedColumn($event)">
    </filters-list>
  </div>
  <div class="card-footer">
  </div>
</md-card>

<filters-add class="draggable-wrapper" [style.top.px]="(viewAddPosition$ | async).top" [style.left.px]="(viewAddPosition$ | async).left"
  (draggable)="updateViewAddPosition($event)" *ngIf="viewAdd$ | async"
  (close)="toggleViewAdd()">
</filters-add>


