<md-card>
  <md-card-header>
    <md-card-title>
      <h2>Filters List</h2>
    </md-card-title>
  </md-card-header>
  <md-card-content style="overflow-x: auto">
    <table class="filter-table">
      <tr>
        <th></th>
        <th>ID</th>
        <th>Filter Type</th>
        <th>Date Created</th>
        <th>Last Modified</th>
      </tr>
      <tr *ngFor="let filter of filters; let i = index;">
        <td>
          <md-checkbox (change)="selected.emit(filter)" [checked]="isSelected(i)" [disableRipple]="true"></md-checkbox>
        </td>
        <td>{{filter.id}}</td>
        <td>{{filter.type}}</td>
        <td>{{filter.created | date}}</td>
        <td>{{filter.modified | date}}</td>
      </tr>
    </table>
  </md-card-content>
  <md-card-footer>
  </md-card-footer>
</md-card>