.container {
  max-width: 180em; /*If default font size is 16px, then max-width = 16  * 75 = 1200px*/
  min-height: 100vh;
  position: fixed;
  margin: 0 auto;
  top: 0; bottom: 0; right: 0; left: 0;

  display: flex;
  flex-direction: column;
}
.content {
  margin: 0;
  /*height: 100%;*/
  width: 100%;
  padding: 10px 0px 10px 0px;

  flex: 1;
}
/***********App Toolbar Styles***********/
.app-toolbar {
  z-index: 100 !important; /*High stack order for shadow*/
  padding: 0px;
}
/***********Nav Styles***********/
.nav {
  background-color: #fafafa;
}
.nav-list {
  padding: 5px 0px 0px 0px;
}
.nav-list a {
  font-size: 1.5em;
  font-weight: 400;
  text-align: left;
  color: rgba(0,0,0,.54); 
  height: 2em; /*Center content*/
  line-height: 2em; /*Center content*/
  width: 100%;
  margin: 5px -5px;
}
.nav-list .active {
  color: #3f51b5;
  background-color: #f5f5f5;
}
/***********App Footer Toolbar Styles***********/
.app-footer-toolbar {
  z-index: 100 !important;
  /*position: absolute;
  bottom: 0; left: 0; right: 0;*/
}