<md-toolbar color="primary" class="app-toolbar">
  <button md-icon-button (click)="sidenav.toggle()">
    <md-icon>menu</md-icon>
  </button>
  <span>Application Top Dashboard</span>
  <span class="toolbar-fill"></span>
  <button md-icon-button [mdMenuTriggerFor]="appMenu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #appMenu="mdMenu" [overlapTrigger]="false">
    <button md-menu-item>Settings</button>
    <button md-menu-item>Help</button>
  </md-menu>
</md-toolbar>
<md-sidenav-container>
  <md-sidenav #sidenav class="sidenav" mode="side" opened="true">
    <md-nav-list class="nav-list">
      <a md-line md-raised-button routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a md-line md-raised-button routerLink="filters" routerLinkActive="active">Filters</a>
    </md-nav-list>
  </md-sidenav>
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>


<!--
      <nav>
      <a routerLink='filters' routerLinkActive='active'>Filters</a>
      <a routerLink='records' routerLinkActive='active'>Records</a>
    </nav>
    -->