<div class="container"> <!--All app content resides here-->
  <!--Toolbar-->
  <md-toolbar class="app-toolbar mat-elevation-z5" color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    Application Toolbar
    <span class="toolbar-fill"></span>
    <button md-icon-button [mdMenuTriggerFor]="appMenu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>

  <!--Sidenav & content-->
  <md-sidenav-container class="content"> <!--Dont let the name fool you... This contains the whole app, and not just the sidenav-->
    <md-sidenav class="nav" #sidenav mode="side" opened="true" align="start">
      <md-nav-list class="nav-list">
        <a md-line md-raised-button 
          routerLink="filters" 
          routerLinkActive="active">
          Filters
        </a>
        <a md-line md-raised-button 
          routerLink="records" 
          routerLinkActive="active">
          Records
        </a>
        <a md-line md-raised-button 
          [routerLink]="['popup',{
              outlets: { 'collection': ['filters']}
            }]" 
          routerLinkActive="active">
          test
        </a>
      </md-nav-list>
    </md-sidenav>

    <data-card></data-card>
    <data-popup></data-popup>
    <router-outlet></router-outlet>
    
  </md-sidenav-container>

  <!--Footer-->
  <md-toolbar class="app-footer-toolbar mat-elevation-z5" color="primary">
    <span class="toolbar-fill"></span>
    <md-icon class="material-icons md-18" style="vertical-align: middle">copyright</md-icon><i>4d5452</i>
  </md-toolbar>

</div><!--End Container-->

<!--Will show on button click-->
<md-menu #appMenu="mdMenu" [overlapTrigger]="false">
  <a md-menu-item routerLink="/dashboard">Home</a>
  <button md-menu-item>Settings</button>
  <button md-menu-item>Help</button>
</md-menu>