<div class="collection-form">
  <div class="header">
    Cleaning Record
  </div>
  <form [formGroup]="formGroup" novalidate class="form-group-wrapper">

    <div class="form-group">
      <md-input-container class="full-width" type="text"
        [class.input-invalid]="formErrors.id ? true : false"
        [hintLabel]="formErrors.id ? formErrors.id : ''">
        <input mdInput placeholder="Record ID" formControlName="id"/>
      </md-input-container>
    </div>

    <div class="form-group">
      <md-input-container class="full-width" type="text"
        [class.input-invalid]="formErrors.filter ? true : false"
        [hintLabel]="formErrors.filter ? formErrors.filter : ''">
        <input mdInput placeholder="Filter ID" 
          [mdAutocomplete]="autoComplete"
          formControlName="filter">
      </md-input-container>
    </div>

    <div class="form-group">
      <md-input-container class="full-width" type="number"
        [class.input-invalid]="formErrors.currentEquipmentMeter ? true : false"
        [hintLabel]="formErrors.currentEquipmentMeter ? formErrors.currentEquipmentMeter : ''">
        <input mdInput placeholder="Current Equipment Meter" 
          formControlName="currentEquipmentMeter">
      </md-input-container>
    </div>

    <div class="form-group">
      <md-input-container class="full-width" type="number"
        [class.input-invalid]="formErrors.pre ? true : false"
        [hintLabel]="formErrors.pre ? formErrors.pre : ''">
        <input mdInput placeholder="Pre-Clean Value" 
          formControlName="pre">
      </md-input-container>
    </div>

    <div class="form-group">
      <md-input-container class="full-width" type="number"
        [class.input-invalid]="formErrors.post ? true : false"
        [hintLabel]="formErrors.post ? formErrors.post : ''">
        <input mdInput placeholder="Post-Clean Value" 
          formControlName="post">
      </md-input-container>
    </div>

    <div class="form-group">
      <md-input-container class="full-width" type="number"
        [class.input-invalid]="formErrors.cycles ? true : false"
        [hintLabel]="formErrors.cycles ? formErrors.cycles : ''">
        <input mdInput placeholder="# of Cycles" 
          formControlName="cycles">
      </md-input-container>
    </div>
  </form>

  <div class="action-buttons">
    <button class="modify-cancel-button"
      md-button (click)="onCancel()"
      color="warn">
      Cancel
    </button>

    <button class="modify-submit-button" 
      md-button (click)="onSubmit()"
      color="primary"
      [disabled]="formGroup.status==='INVALID' || formGroup.pristine">
      Submit
    </button>
  </div>
</div>

<md-autocomplete #autoComplete="mdAutocomplete">
  <md-option *ngFor="let filter of filters" [value]="filter">
    {{filter}}
  </md-option>
</md-autocomplete>

<!--<p>Form Value: {{formGroup.value | json }}</p>-->
<!--<p>Form Status: {{formGroup.status | json}}</p>-->