@import './themes/dist/styles-theme.css';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  clear: both;
  overflow: auto;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.center {
  margin: auto;
}
