<md-icon class="material-icons md-18" style="vertical-align: middle">search</md-icon>
<input [ngModel]="_filter"
  (ngModelChange)="setFilter($event)"/>
<button md-button
  (click)="_openPopup()"
  [disabled]="isPopupOpen"
  color="primary">
  ADD
</button>
<button md-button
  (click)="toggleEditView()"
  [disabled]="!(selectedItem) || editVisible" 
  color="primary">
  EDIT
</button>
<button md-button 
  (click)="removeSelected()" 
  [disabled]="!(selectedItem)" 
  color="primary">
  REMOVE
</button>